// app global css in SCSS form
.container {
  &--lottery {
    background-image: url('../assets/lottery.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__card {
    min-width: 400px;
  }
}

.lottery {
  &-table {
    max-width: 350px;
  }
  &-tank {
    min-width: 290px;
  }
}

.history {
  &-list {
    max-width: 800px !important;
  }
}
