// app global css in SCSS form
.container {
  height: 100vh;
  &--lottery {
    background-image: url('../assets/lottery.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__card {
    min-width: 400px;
  }
}

.lottery-table {
  max-width: 400px;
}
